[2014-06-11 09:07] Sharom opened #5 "What about HTTP 1.1 support?"

[2014-07-29 12:48] Sharom opened #9 "Utilities/documentation for testing of client's code."

[2014-08-20 11:43] cdekok opened #10 "Client hangs if dns server can't be reached"
If the dns server is not available the script will hang forever, in this case it was blocked by firewall.

[2014-10-10 15:53] andig opened #11 "Requests to localhost are handed to DNS resolver"
...where they invariably fail.

[2014-12-03 08:00] miladr opened #14 "POST method doesn't working"
I'm using this code to send  a POST request but it's not working.

[code]

Result is

[code]

I know that i'm doing something wrong but i couldn't find solution.

[2014-12-03 11:21] #14 closed, assigned to nobody

[2015-02-13 13:30] WyriHaximus commented on #5
Yeah going to look into that and see if I can make some progress on that soon. It works fine in most cases but there are some edge cases where forcing it to `1.0` causes issues.

[2015-02-27 03:05] Beanow opened #19 "Requesting feedback: follow redirects implementation"
I've started on a `followRedirects` (and `maxRedirects`) option parameter.
It's not ready for a pull request yet, but the idea of where I'm headed should be clear.
Would appreciate any feedback to see if I'm headed in the right direction.
https://github.com/reactphp/http-client/compare/master...Beanow:feature/follow-redirects

[2015-02-28 01:55] Beanow commented on #19
https://github.com/reactphp/http-client/pull/20 fixes this.

[2015-02-28 01:55] #19 closed

[2015-04-09 08:16] bashilbers opened #23 "Guzzle/parser is abandoned"
As the title suggests, please make sure that you don't use abandoned packages.

[2015-04-15 19:34] frankmayer commented on #11
Hi there. Is there any solution planned for this? It bit me today :smile:

[2015-04-15 22:09] frankmayer commented on #11
This is actually a bigger issue when working with linked containers in Docker.
Explanation:
In Docker, when a link is created from one container to the other, for example from a php container to a db or service container, then the (dynamic) ip & hostname for that target container is written into /etc/hosts, Since the DNS resolver does not honor /etc/hosts, the lookup fails.

[2015-04-28 09:41] WyriHaximus commented on #23
It's a known issue and on our rader: https://github.com/reactphp/http/issues/24#issuecomment-96585142

[2015-04-28 09:46] WyriHaximus commented on #11
There is an issue about this on on the DNS component: https://github.com/reactphp/dns/issues/10

Since I'm also working on the filesystem component we should look into using that to resolve this :+1: /cc @clue

[2015-04-28 10:43] frankmayer commented on #11
BTW, I found a temporary workaround using "dnsmasq" and described it in my [blog](http://www.frankmayer.me/blog/14-a-solution-to-use-reactphp-in-docker-with-linked-containers-aka-fixing-the-etc-hosts-problem)

[2015-05-10 09:24] Renegade334 opened #28 "In-built request timeout functionality"
Currently, request timeouts can be implemented somewhat messily by specifying loop timers and attempting to manually close the request. They should ideally be in-built.

[2015-05-10 13:24] cboden commented on #28
This feature has been started in the underlying library reactphp/socket-client#10. One it's implemented there it should be simple enough to add here.

[2015-05-19 22:16] Termina1 opened #30 "Strange HTTPS behavior"
I'm writing simple parser. When trying to get contents of  https://meduza.io/feature/2015/05/19/zaschita-astahova, I see some rubbish going through stream.

However, https://youtube.com or https://www.coursera.org/ works as normal.

What can this be?

[2015-05-19 22:31] WyriHaximus commented on #30
Can you be more precise about the rubbish? Is there no result or partial
result? Also what versions does `composer show -i` give for react/* and
what php version do you use?

[2015-05-20 17:58] Termina1 commented on #30
It is seems to be some binary encoded data, represented as a string. Something like this:
[code]

PHP version: 5.6.7
Versions installed:
[code]

[2015-05-20 19:22] hiend commented on #30
can you show your code please? don't have to keep guessing

[2015-05-20 19:28] Termina1 commented on #30
@hiend it's basically the same as example from readme.

[2015-05-20 19:56] WyriHaximus commented on #30
Confirmed the issue on PHP 5.6.8

[code]

Running [SSLlabs tests](https://www.ssllabs.com/ssltest/analyze.html?d=meduza.io&latest) on it now to see if anything comes up there.

[2015-05-20 19:57] cboden commented on #30
I should probably tag reactphp/socket-client#34

[2015-05-20 20:05] WyriHaximus commented on #30
@cboden already cloned socket-client into my vendor/react dir and the issue persists

[2015-05-23 16:34] WyriHaximus commented on #30
It isn't  SSL you're seeing it's GZIP.  You can confirm by making a test script outputting the response body and piping that into gunzip like: `php test.php | gunzip -c`.

Currently react/http-client doesn't support gzip. However I'm going through all the HTTP 1.0, 1.1, and 2.0 RFC's before drafting up a plan to support all them with all their features. This includes content encoding like GZIP.

[2015-05-29 10:08] itcreator commented on #11
+1 for docker

[2015-05-31 16:49] clue commented on #11
Big +1 for getting this in, both for convenience ("localhost" etc.) and for Docker containers!

I've started looking into this a few weeks ago, but have postponed this for now because the DNS component is currently undergoing some major architectural refactorings.

[2015-06-06 17:55] clue commented on #28
:+1: on supporting a timeout setting.

Though I'm not sure what the API could look like…
Also, *when* should we actually time out (connection timeout, whole request timeout, idle timeout etc…)?

I think it makes sense to add an API similar to https://github.com/reactphp/socket-client/pull/10. Any thoughts on this @Renegade334?

[2015-06-07 15:46] Renegade334 commented on #28
Clients like cURL support both a connection timeout and a total timeout. Both would be useful, IMO. The latter would be a client-level feature, I guess, whereas the former would be socket-level.

[code]

[2015-06-11 19:48] WyriHaximus commented on #28
@Renegade334 yes that makes sense. We could even go for 3 time outs:
* Connect timeout, how long we wait for the connection to be created, done in `socket-client`
* Response timeout, how long a server can take before responding
* Response body timeout, how long it can take before the entire response body is downloaded

[2015-06-16 08:40] elfet commented on #23
+1

[2015-08-21 07:39] elfet commented on #23
:+1:

[2015-08-30 20:32] #23 closed

[2015-09-03 12:30] clue opened #36 "Add sane way to close() pending request"
Currently, calling `close()` on a pending `Request` stream does not necessarily close all underlying resources.

Also, it should probably cancel a pending connection attempt, so this likely depends on https://github.com/reactphp/socket-client/issues/40

[2015-09-03 12:36] clue commented on #28
FWIW: This is likely related to #36. Possible implementation approach could be to just `close()` the request once the timeout timer fires.

[2015-09-03 12:38] clue opened #37 "Implement gzip content encoding"

[2015-09-03 12:38] clue opened #38 "Implement chunked transfer encoding"
Refs #5

[2015-09-03 12:38] clue opened #39 "Support persistent connections (aka HTTP/1.1 Keep-Alive)"
Refs #5

[2015-09-03 12:39] clue opened #40 "Implement following redirections"

[2015-09-03 12:39] WyriHaximus commented on #37
:+1: , fully agree on adding this. My main concern is how to do it non-blocking. A child process could be an option unless you know a good way to do it streaming chunk by chunk in future ticks.

[2015-09-03 12:41] clue opened #41 "Support PSR-7 (HTTP message interfaces)"

[2015-09-03 12:41] clue opened #42 "Look into HTTP/2.0 support"
Refs #5

[2015-09-03 12:45] clue commented on #37
Gzip encoding/decoding should in fact not actually be part of this library. It should be added as a dependency here.

I suppose it makes sense to build this on top of [PHP's ZLib functions](http://php.net/manual/en/ref.zlib.php). I've started looking into building a streaming gzip encoder/decoder a while ago but have never been quite happy with its API.

Can't promise anything, but I'll try to loo

[2015-09-03 12:46] clue commented on #30
Thanks for analyzing this @WyriHaximus! If this only boils down to #37, I suppose we can close this ticket?

[2015-09-03 12:53] clue commented on #10
Hi @Mech7, can you add a gist to reproduce the issue you're having? I'll look into tracing this down if this is related to the underlying DNS component or if this is actually a bug here.

[2015-09-03 12:55] WyriHaximus commented on #30
AGreed @clue, lets pick this up in #37 and work there on a solution.

[2015-09-03 12:55] #30 closed

[2015-09-03 12:56] clue commented on #9
Hi @Sharom, I'm not sure I follow, what exactly are you asking for? :-)

Admittedly, both the documentation and the tests aren't *quite perfect*, but IMO both should help you getting started? PRs welcome, I guess? :-)

[2015-09-03 12:59] WyriHaximus commented on #37
It should not be part of this library at all but we need to find a way to make it non-blocking so we can use it within this library. A streaming encoder/decoder sounds great and that is something we could use in react/http as well.

[2015-09-03 13:19] clue commented on #37
IMO this is a non-issue for two reasons:

* zlib can easily decompress 100+ MByte/s on even a moderate system
* React PHP's Stream implementation uses usual chunk sizes of 4 KiB each

This means that using a blocking decompressing algorithm for individual chunks can be considered non-blocking for the purpose of this library :-)

(Obviously, this doesn't apply if you're decompressing a multi-megaby

[2015-09-03 14:32] #5 closed

[2015-09-03 15:29] WyriHaximus commented on #40
#20 is a PR providing this, given it has to be updated

[2015-09-06 11:57] clue opened #44 "Implement HTTP proxy support"

[2015-09-06 11:58] clue opened #45 "Implement Connector support based on HTTP CONNECT proxy"
Refs #44.

[2015-09-06 11:59] clue opened #46 "Implement communication via Unix domain sockets (UDS)"
Depends on https://github.com/reactphp/socket-client/pull/41

[2015-09-20 13:05] mbonneau opened #47 "How do I explicitly use HTTP/1.1?"
The ResponseData version was changed to 1.0, but I don't see a way to change the version to 1.1 through the Client.

[2015-09-20 21:05] WyriHaximus commented on #47
Right now it's a bit complicated and involves creating your own connectors and instantiating your own request etc etc. Going to look into making it easier to force 1.1 with a PR very soon.

[2015-09-21 00:58] mbonneau commented on #47
I am just working on a proof-of-concept project that needed 1.1. It is not urgent for me right now, just didn't see any way to do it as there is no access to ResponseData from the client API.

I just hacked it for now - I'm testing it with ratchetphp/rfc6455 and ws:// needs 1.1.

[2015-09-21 22:03] clue opened #48 "Simplify acessing response body"
Accessing the HTTP response body is likely one of the main use cases for this library, however it's actually unnecessarily cumbersome.

This has come up several times already, so we way want to look into providing a simpler API.

Possibly related to #41.

[2015-09-24 19:29] #47 closed

[2015-09-24 19:37] WyriHaximus commented on #47
@mbonneau Just tagged 0.4.7 with a fix for this

[2015-10-17 09:07] deathmood commented on #5
Please tell me where I am wrong, `cause it does not work for me - I can not get response body with HTTP 1.1:

$request = $client->request('GET', 'http://facebook.com', [], '1.1');
$request->on('response', function ($res) {
    $res->on('data', function ($data, $res) {
        var_dump($data);
    });
});
it does not work for http://vk.com, http://facebook.com
why?

[2015-10-18 22:04] WyriHaximus commented on #5
@deathmood answered your question here: https://github.com/reactphp/http-client/pull/49#issuecomment-149054443

[2015-11-05 00:52] clue commented on #37
Just for the reference, I've started looking into the available implementation approaches a few weeks ago: https://github.com/clue/php-zlib-react/issues/1

Using PHP's zlib stream filters works *okay-ish*. I'm currently working around some of its limitations:
https://github.com/clue/php-zlib-react/issues/3#issuecomment-153904756

[2015-11-15 13:23] clue commented on #37
For the reference again, I've pushed an initial v0.1.0 release of [clue/zlib-react](https://github.com/clue/php-zlib-react) a few days ago. This can now be integrated here to offer HTTP compression support (`gzip` and/or `deflate`).

I hear @WyriHaximus is working on this? :+1:

[2015-11-15 14:59] WyriHaximus commented on #37
Not just working, I have a working prototype getting molded into a PR :)

[2016-03-13 22:20] guss77 opened #54 "Failed to access a TLS server"
Trying to access TLS servers, I keep getting errors. For example when trying to access https://www.google.com , I get this:

[code]

My code is:
[code]

[2016-03-13 22:24] WyriHaximus commented on #54
This looks oddly familiair, what PHP version and what react/http-client version are you using?

[2016-03-14 00:14] clue commented on #54
This is a known issue that has been fixed with https://github.com/reactphp/socket-client/pull/61 (occurs with any version of PHP 5.6+). We have yet to tag a new release and update this component to use the new dependency.

[2016-03-14 11:46] guss77 commented on #54
I'm using PHP 5.5 (customer requirement).

[2016-03-14 12:18] guss77 commented on #54
Requiring `react/socket-client=dev-master` solved the problem for me.

[2016-03-14 16:22] clue commented on #54
PHP < 5.6 defaults to `verify_peer = false`, which means that it should work fine with either version of socket-client.
PHP >= 5.6 defaults to `verify_peer = true` and the required SSL context options are only set with the (future) v0.5 socket-client.

Thanks for verifying and reporting back! I guess it makes sense to keep this ticket open until a new tag has been released :+1:

[2016-03-14 17:25] WyriHaximus commented on #54
Sounds like a solid plan to me :+1:

[2016-03-15 22:13] guss77 commented on #54
I've tested on PHP 5.5, and something weird is happening - with either the default socket-client as well as dev-master:

I'm trying to access a server behind a Cloudflare proxy, and when I try using PHP 5.6, everything works fine (assuming socket-client=dev-master). Under PHP 5.5 though (both socket-client versions), I get a 403 Forbidden error, with an HTML page that contains this text:

Error
Ra

[2016-03-16 00:42] clue commented on #54
Thanks for the report @guss77!

SSL/TLS support in older version of PHP has always been flaky, so as a rule of thumb, using the latest supported version if generally a good idea :)

In this particular case, I suppose we need some more information before we can track this down, such as exact PHP version, OpenSSL version, composer package versions and a minimal test script to reproduce this issue.

[2016-03-21 13:55] #54 closed

[2016-05-03 18:58] andig opened #57 "Allow client creation without DNS resolver"
According to https://github.com/reactphp/socket-client/blob/master/src/Connector.php#L9 Connector is deprecated. This could allow to change https://github.com/reactphp/http-client/blob/master/src/Factory.php#L12 by providing a default NULL resolver and in that case use a TcpConnector instead of a DnsConnector.

This would require upping socket-client dependency to 0.5 from 0.3 but would allow redu

[2016-05-03 19:10] clue commented on #57
Consider the `Factory` to be there for convenience only. If you do not need DNS resolution, you can also set up the `Client` yourself like this:

[code]

[2016-05-03 19:44] andig commented on #57
Darn, so obvious. Thanks ;)

[2016-05-05 09:07] Filsh commented on #11
I used it
http://php.net/manual/en/function.gethostbyname.php

[2016-07-05 19:33] #57 closed

[2016-07-05 19:36] WyriHaximus commented on #48
While try I like to keep streaming without storing data posssible, maybe #29 is a way to achieve this? Now the question is which one do we want to be the default. I personally think that easy access to the response body should be the default, and streaming it in should be a secondary option

[2016-07-15 17:19] pwhelan opened #60 "Sending large POST body via SSL/TLS times out"
When sending large contents via POST, specifically images (~90kb+) the connection simply hangs. I have already filed the same bug in for the WyriHaximus guzzle adapter here: https://github.com/WyriHaximus/react-guzzle-psr7/issues/10.

[code]

[2016-07-15 17:27] WyriHaximus commented on #60
ping @clue, could this possibly be in the SSL part of react/socket-client?

[2016-07-15 18:50] pwhelan commented on #60
This also happens at the socket-client level, this is an example (without actually parsing the response to exit cleanly):

[code]

[2016-07-15 18:53] pwhelan commented on #60
I also tested it with a small file and it worked perfectly.

[2016-07-17 13:22] clue commented on #60
Thanks for letting us know, but from the details you've posted, the problem appears to be a bit unclear to me. Perhaps you can elaborate: What exactly is hanging here, what is the expected behavior and how does the observed behavior differ?

There are many different possible sources of problems, perhaps this helps pinpointing this. Thanks!

Could we perhaps be running into HTTP's keepalive connect

[2016-09-13 08:38] SamMousa commented on #11
One solution would be to implement a `HostsExecutor` and a `FallthroughExecutor`, combining these you would be able to have proper hosts file functionality, if you want it.

[2016-09-22 15:21] etienneroudeix opened #61 "Call to undefined method React\HttpClient\ChunkedStreamDecoder::end()"
Hello,

I encountered the following error using the react http client (v0.4.11) :

[code]

Indeed in Response.php it seem that ```$this->stream->end()```is not (always?) resolved

Fixed my issue by getting back to 0.4.10.

Cheers.

[2016-09-22 17:15] WyriHaximus commented on #61
Thank you for reporting this @etienneroudeix, do you have a full stack trace I can look at?

[2016-09-23 06:00] WyriHaximus commented on #61
FYI a PR is up at #62 for your reported issue

[2016-09-23 08:01] etienneroudeix commented on #61
Hello @WyriHaximus,

Glad to here a PR exists :)

Here is a full stack trace anyway :

[code]

[2016-09-23 09:48] WyriHaximus commented on #61
Thank you @etienneroudeix, that confirms my suspicion. Interestingly enough it works on 0.4.10 without issue? Is there a possibility you can provide more information on what you're hitting with the client? The reason I'm asking is that the error coming up now is coming from the [chunked encoding decoder](https://en.wikipedia.org/wiki/Chunked_transfer_encoding) which should only kick in when a resp

[2016-09-23 11:52] etienneroudeix commented on #61
@WyriHaximus I have no issue on v0.4.10.
The error was trigged by a job issued from RabbitMq and I have no idea what it was supposed to actually do. Furthermore I tried to run a few of my most used jobs with v0.4.11 without trouble. Therefore I have no idea of what was really hit and if it was actual chunked packet or not. Sorry.
I'll run v0.4.11 on my project for few hours and see if it happens a

[2016-09-23 12:18] etienneroudeix commented on #61
Hey @WyriHaximus I did not have to wait much to reproduce :)
What I am hitting is a React http server.
Here is ```Response::close``` arguments and Response attributes values :
<img width="751" alt="capture d ecran 2016-09-23 a 14 12 14" src="https://cloud.githubusercontent.com/assets/2012682/18785390/352b2a96-8198-11e6-9ac6-c2a9a25e7d83.png">

So I have an error (and a 200 response code :'()
It's

[2016-10-04 18:13] arnaud-lb opened #64 "Support for delayed secure connections - proxy CONNECT or STARTTLS"
Wrong repos, sorry. Reposted the issue at https://github.com/reactphp/socket-client/issues/69

[2016-10-04 18:15] #64 closed

[2016-10-06 12:17] clue commented on #61
Closed via #63.

[2016-10-06 12:17] #61 closed

[2016-10-06 12:18] clue commented on #60
Ping @pwhelan, and new info on this on?

[2016-10-06 13:21] WyriHaximus commented on #61
`v0.4.12` is out with a fix for this

[2016-10-06 14:17] etienneroudeix commented on #61
great thank you !

[2016-10-11 15:12] pwhelan commented on #60
I fixed it by using an external service to upload files via https. As far as I can tell no one else has followed up with the different issues to finally fix this. From what I can tell it seems to be a problem either in PHP itself or in the way it is handled by react socket client.

[2016-10-12 06:18] clue commented on #60
Please provide us with some more details so we can look into this (see above). So far, nobody has managed to run into the issue you're seeing, so I'm not sure there's a problem in any of the mentioned components in the first place.

[2016-10-17 23:02] mmelvin0 opened #65 "Response can sometimes emits data twice with incompatible arguments"
I'm struggling to reproduce this and I can't anymore, but it's fairly clear in the code this is possible. There are two places where the `data` event for a `Response` can be triggered.

In [Response::handleData](https://github.com/reactphp/http-client/blob/f799ca6b31367da355aa3dbc1d7cd6b79d16ccba/src/Response.php#L80) the arguments are `string`, `Response`.

In [Request::handleData](https://github

[2016-10-18 05:20] clue commented on #65
Thanks for spotting! :+1: The second occurrence should be cast to string so that it *always* emits a string data event. Does anybody feel like filing a trivial PR? :)

FWIW: The `StreamInterface` also has a `__toString()` method, so this can safely be used along with the expected strings. This is likely why this hasn't been noticed yet.

[2016-10-18 08:22] WyriHaximus commented on #65
A PR would be every welcome 👍 . Fancy doing that @mmelvin0?

[2016-10-18 22:26] mmelvin0 commented on #65
The FWIW part of @clue's comment clarified everything for me. I should have been following the spirit of the examples rather than looking deeper into what was actually being passed to me. It also helped me realize that doing `instanceof StreamInterface` is broken as it will ignore subsequent response chunks.

@WyriHaximus I've made a pull request with a subtle modification to RequestTest that fail

[2016-10-19 10:41] uniquoooo opened #67 "Incomplete control code while parsing chunked stream"
Hi,

I'm using `wyrihaximus/react-guzzle-psr7` to send async requests with Guzzle HTTP, however, the server I am requesting has recently started using chunked HTTP requests. I saw that chunked requests was recently introduced into the HTTP client by the creator of the package I am using however I am still getting the error `Stream ended with incomplete control code`. Is this a client side problem?

[2016-10-19 13:22] clue commented on #67
We'll have to figure this out :-)

Have you checked the server is actually sending a valid chunked encoded stream? Can you post a public URL to test this?

The server might close the connection prematurely which would result in this error. Perhaps we *may* want to look into providing a non-strict parser (*Be strict in what you send, but generous in what you receive*).

[2016-10-19 13:27] WyriHaximus commented on #67
Hey @uniquoooo the `Stream ended with incomplete control code` exception is thrown when the request ends in an unclean way. Do you have a easy way to reproduce this issue?

[2016-10-19 21:19] clue commented on #65
Closed via #66

Thanks for looking into this, much appreciated! :+1:

[2016-10-19 21:19] #65 closed

[2016-10-19 21:23] uniquoooo commented on #67
Hi guys,

There isn't a public URL that I can post as it requires authorization, however, I can capture the response. Would it be fine if I capture it with `curl -iv --raw`?

Thanks

[2016-10-19 21:28] clue commented on #67
Might be worth a try :+1: Otherwise a pcap (Wireshark etc.) may also help.

[2016-10-19 21:31] uniquoooo commented on #67
I've uploaded it to GitHub gist here: https://gist.github.com/uniquoooo/c6c05261dbd67dd5f7c3ab5563927a14

[2016-10-22 19:40] WyriHaximus commented on #67
@uniquoooo cheers, running tests with it ATM

[2016-10-22 20:02] WyriHaximus commented on #67
@uniquoooo any change you can supply a pcap of the communication between your code and that server for a request that fails? Just put your gist into `DecodeChunkedStreamTest` as a data set, and it passed decoding the message.

If you don't want to share the pcap publicly (which I would discourage tbh) feel free to send it to the email address on my profile.

[2016-10-23 04:03] uniquoooo commented on #67
@WyriHaximus I've done some more testing (which I should have done at the start) and I only get errors when I am using your `react-guzzle-psr7` wrapper. If I do the request through react/http-client it works fine. Should I create an issue over there?

[2016-10-24 02:52] uniquoooo commented on #67
@WyriHaximus I've captured the request but I'm not sure how to export it, could you help?

[2016-10-24 19:23] WyriHaximus commented on #67
@uniquoooo Wireshark has a `Save as` option that just saves the entire capure. I can open the pcapng (or just pcap) file on my machine and go through the request.

[2016-10-26 06:02] uniquoooo commented on #67
@WyriHaximus I've sent you an email with the file.

[2016-10-27 19:45] WyriHaximus commented on #67
Managed to reproduce the issue with  help from @uniquoooo, tracking down the cause of it and will submit a PR with a fix once I've came up with a solution.

[2016-10-28 05:59] WyriHaximus commented on #67
So the chunked decoding parser is fine, the flaw turns out to be in the moment the headers are parsed and there is a bit of body coming with it from the stream. That bit of body was emitted from the response object while it should have been emitted from the stream. #68 is up to fix that.

[2016-10-28 18:06] WyriHaximus commented on #67
[`v0.4.14`](https://github.com/reactphp/http-client/releases/tag/v0.4.14) has been tagged fixing this issue, thanks again for reporting :+1:

[2016-10-29 08:40] uniquoooo commented on #67
Thanks for your help @WyriHaximus!

[2016-11-01 19:32] clue commented on #45
See https://github.com/clue/php-http-proxy-react :shipit:

While this *could* have been implemented here, this actually has very little cohesion with this package, in particular API/usage wise. As such, I figured it makes more sense to implement this somewhere else and then *use* this here once we add proxy support via #44.

I consider this issue resolved, integrating this here is left up to #44.

[2016-11-01 19:32] #45 closed

[2016-11-01 21:08] clue opened #70 "Unclear event semantics"
The `Response` is a `ReadableStreamInterface`, however it does not currently obey its event semantics:

* It will never emit a `close` event
* It will emit an `end` event if the underlying stream closes
* It will emit an `end` event with an `error` if the underlying stream ends

We should obey the stream semantics here, see also https://github.com/reactphp/stream/issues/59.

Note that this *will*

[2016-11-09 02:23] brad-jones commented on #67
@WyriHaximus Not sure if it's related to this issue or not.

In `ChunkedTreamDecoder->handleEnd()`, the value of `$this->buffer` looks like this:

[code]

If I comment out the check of `$this->buffer` then my request works fine.

How would you suggest the easiest way to get you a packet dump, considering this is over TLS.
ie: A Normal pcap dump will be encrypted uselessness to you.

[2016-11-11 03:28] brad-jones commented on #67
Here are 3 files, captured each time fread was hit before the `Stream ended with incomplete control code` exception is thrown.

I have removed / swapped out the sensitive stuff (most of which is just the body of a SOAP request).

[react-http-client-issue.1478816829.3675.txt](https://github.com/reactphp/http-client/files/584954/react-http-client-issue.1478816829.3675.txt)
[react-http-client-issue.1

[2016-11-20 10:14] WyriHaximus commented on #67
@brad-jones thanks, currently debugging :+1:

[2016-11-20 11:06] WyriHaximus commented on #67
@brad-jones could you verify for me that the hot fix I just created works for you? You can test that by swapping `vendor/src/react/http-client/src/ChunkedStreamDecoder.php` out with this one [`ChunkedStreamDecoder.php`](https://gist.github.com/WyriHaximus/203237c41c811fcf8d528f092f73efe5) in the mean time I'll write up tests as well for it and create a PR.

[2016-11-20 16:15] Akhawais commented on #67
Using [WyriHaximus/react-guzzle-psr7](/WyriHaximus/react-guzzle-psr7):

Async works as expected. However synchronous responses almost always fail.

Sending a sync to Stream Labs API (Which uses chunked transfer encoding) fails with `Connection closed before receiving response`.

@WyriHaximus Your hotfix has successfuly fixed the issue for me. Thanks for all your continued support!

[2016-11-20 17:28] Akhawais commented on #67
It's now causing some requests to hang the whole React loop indefinitely. Not sure if it's the hotfix.

[2016-11-20 17:57] WyriHaximus commented on #67
It isn't, the hotfix applied to a specific situation where there is some data left to process. It should never let the loop run indefinitely on it's own.

[2016-11-20 18:36] Akhawais commented on #67
Thanks for clearing that up! Posted an [issue](/WyriHaximus/react-guzzle-psr7/issues/18) in your handler repo but pretty sure it belongs here if it uses `http-client`.

[2016-11-20 18:44] WyriHaximus commented on #67
No problem, locally trying to figure out what exactly went wrong. In my cause I was hitting the Blizzard API which sometimes causes the error

[2016-11-22 11:52] WyriHaximus commented on #67
@brad-jones @Akhawais If you have time could you test this hotfix with me? https://gist.github.com/WyriHaximus/b6891672a4aaa78830076004b2c7839a It seems to be running fine on my end right now but would appreciate your help testing it

[2016-11-22 20:44] brad-jones commented on #67
Yeah its been on my todo list. Ill try and get to it today.

[2016-11-22 22:10] WyriHaximus commented on #67
Awesome, let me know how it performs for you :+1:

[2016-11-23 10:29] Akhawais commented on #67
@WyriHaximus Seems to work fine. Can do more tests when I'm home and will report back.

[2016-11-23 12:02] WyriHaximus commented on #67
@Akhawais awesome, glad to hear that, I'll get the PR up tonight.

[2016-12-02 10:15] #67 closed

[2017-03-10 07:56] clue commented on #60
We still need some more information / confirmation here, but I suppose this may be related to https://github.com/reactphp/stream/issues/64, which indicates this is a general issues with sending large chunks over a TLS connection.

[2017-03-10 07:58] clue commented on #48
This likely depends on #70 in order to fix stream semantics first.

We may then provide normal stream buffering routines and should probably add an example here.

Once this is in, we may want to look into #41 to implement PSR-7 message body support.

[2017-03-10 07:59] clue commented on #46
This is actually ready, this very likely only requires some tests and documentation :+1:

[2017-03-10 08:01] clue commented on #44
I've started looking into this a while back and it actually worked out quite good, but I was never quite happy with its API. As such, I'm looking into adding PSR-7 support via #41 first :+1:

In the meantime, these proxy servers are already supported:

* SOCKS: https://github.com/clue/php-socks-react
* HTTP CONNECT: https://github.com/clue/php-http-proxy-react

[2017-03-10 08:02] clue commented on #42
Currently, only HTTP/1.1 and HTTP/1.0 are supported, I'd love to see anybody picking up HTTP/2.0 support :+1: :tada:

[2017-03-10 08:03] clue commented on #41
This is something I'll look into once the stream semantics have been resolved first via #70 :+1:

[2017-03-10 08:05] clue commented on #40
I'm not sure how reasonable this features is, given the current interface. The request represents a stream which will be sent to the original URI only and we should look into what could possibly be sent to the redirected target URI then.

We may want to block this until PSR-7 support is in via #41 first?

[2017-03-10 08:08] WyriHaximus commented on #42
@clue I'm looking into this though keep-alive support first because it's a stepping stone to HTTP/2.0

[2017-03-10 08:08] clue commented on #38
Receiving incoming responses with chunked transfer encoding has been resolved via #58.

We may still want to implement sending requests with chunked transfer encoding.

[2017-03-10 08:10] clue commented on #36
Calling `close()` should stop connecting / sending as expected and then close the stream, see also #70 for more details about improper event handling.

This is something I'll look into shortly :shipit:

[2017-03-10 08:12] clue commented on #10
We are not aware of any issues here and I believe this may have been fixed in the meantime.

Closing this due to a lack of feedback, so I'll close this for now. If this problem persists, please report back and we can look into this again :+1:

[2017-03-10 08:12] #10 closed

[2017-03-10 08:15] clue commented on #9
The documentation and tests have been updated in the meantime and we now also have some examples (#69).

I hope this helps :+1:

I believe this has been answered, so I'll close this for now. If this problem persists, please report back and we can look into this again :+1:

[2017-03-10 08:15] #9 closed

[2017-03-18 17:22] mdrost opened #76 "Unable to validate "27C" as chunk length header"
I don't know how to reproduce problem using only this library, but with WyriHaximus/react-guzzle-psr7 this code
[code]
produces
[code]

[2017-03-18 19:02] WyriHaximus commented on #76
Hey thank you for reporting your issue. By the looks of it you're calling `$promise->wait();` which forces the promise to resolve and blocks the loop. Running the loop the normal way, `$loop->run();` will ensure the loop isn't blocked. I've just tried your URL with this example and had no issues what so ever: https://github.com/WyriHaximus/react-guzzle-psr7/blob/master/examples/basic.php

This sho

[2017-03-18 19:02] #76 closed

[2017-03-18 20:25] mdrost commented on #76
With other url's my code is not blocking.
When I change my code to
[code]
I get
[code]
Other url's works, just wizzair is somehow special.

[2017-03-18 20:32] mdrost commented on #76
Your example works fine until I change url to https://wizzair.com/ . Then i get `An error occured in the response`.

[2017-03-19 01:54] mdrost commented on #76
I fix that https://github.com/reactphp/http-client/pull/77

[2017-03-19 17:11] clue opened #78 "Merge into Http component and deprecate HttpClient component"
Opening this for the reference and to raise awareness. Note that there's an ongoing discussion as to whether this component should be merged into the Http component.

See https://github.com/reactphp/http/issues/148 for details.

[2017-03-19 17:36] clue opened #79 "Roadmap to stable v1.0.0"
Let's face it, this project is *stable* and has been used in production for years :shipit:

However, we're currently following a v0.X.Y release scheme (http://sentimentalversioning.org/).

We should finally make this explicit and fully adhere to SemVer and release a stable v1.0.0.

To a large extend, a stable v1.0.0 helps making BC breaks more explicit and thus the whole project more reliable from

[2017-03-19 17:39] clue commented on #79
Given that there is already ongoing effort to merge this component into the Http component, it's questionable whether this component here will ever be tagged as stable v1.0.0 at all.

See https://github.com/reactphp/http-client/issues/78 for more details.

I've opened this ticket to give people a realistic overview of how this component is planned to evolve over the course of the next few months a

[2017-03-19 21:15] WyriHaximus commented on #79
I've updated`v0.4.17` to be release tomorrow, given @clue has approved #77 , and I didn't see any issues with it and first glace. (Unless @jsor finds something though.)

Also I'de like to do keep alive/persistent connections in `v0.6.0`. It will most likely require significant internal changes to the way connections are handled. What do you think about that @reactphp/core?

[2017-03-20 09:20] clue commented on #79
@WyriHaximus Go for it :+1:

I've set up this roadmap to ensure we can get to the v1.0.0 ASAP and only address major BC breaks along the way. If the feature is ready in time, I can see this getting in before v1.0.0 gets tagged. Otherwise, I'm also fine with getting this in as a feature release as v1.x.0 eventually :shipit:

[2017-03-20 09:45] WyriHaximus commented on #79
@clue yes that absolutely makes sense, which is why I didn't edit it in yet. I want it to  have it ready before adding it to `0.6.0`, `1.1.0`, or even `1.2.0` 😄

[2017-03-20 10:09] WyriHaximus commented on #79
Updated now that `v0.4.17` is out

[2017-04-04 16:22] andig opened #80 "Response->on('end') signature weirdness?"
I've got the following simple code which sends a request and displays the response.

Problem: the echoed buffer will always be `string(0)` unless I declare it as `&buffer` in the `on('end')`. `string(0)` is how the buffer is initialized:

	$request = $client->request(
		'POST',
		$url,
		array(
			'Content-Length' => strlen($data),
			'Content-Type' => 'application/json'
		)
	);

	$request->on('re

[2017-04-04 16:52] clue commented on #80
This sounds like a duplicate of #70? :-) This is something I'm currently working on, so stay tuned :+1:

[2017-04-04 16:54] clue commented on #80
Sorry, misinterpreted your issue.

This is in fact expected behavior, because you would otherwise bind the initial variable value to your closure, but you actually want the value that changes over time (due to your `data` callback).

I hope this helps :+1:

I believe this has been answered, so I'll close this for now. Please feel free to come back with more details if this problem persists and we

[2017-04-04 16:54] #80 closed

[2017-04-04 16:56] andig commented on #80
I was always under the impression that binding by ref is only required for writing back. But your explanation makes much more sense, big thanks for taking the time!

[2017-04-15 16:51] djagya opened #81 "Catch parse_response errors from guzzle parser"
Since the code is almost identical, can we make the same change in this package as it was done here: https://github.com/reactphp/http/pull/65?

[2017-05-05 09:29] andig commented on #78
I'm currently looking into this and am a bit stumped on how to convert a Psr `StreamInterface` into a react `ReadableStream`. Any ideas? Either this is not an "easy pick" or just beyond my skills :/

[2017-05-05 10:25] clue commented on #78
@andig It sounds like this might be related to #41 instead of this ticket? It's my understanding that #41 has priority first and once that's addressed, merging the two components should be an easy pick :shipit:

[2017-05-05 11:06] andig commented on #78
@clue thank you. I didn't realize there was already work going on. Better letting you guys do your magic :)

[2017-05-19 12:43] #70 closed

[2017-05-19 12:59] clue commented on #81
Closed via #82

[2017-05-19 12:59] #81 closed

[2017-05-19 13:43] clue opened #92 "Response with Content-Length should emit error when size does not match"

[2017-05-19 13:44] clue opened #93 "Request without `Content-Length` should use `Transfer-Encoding chunked`"

[2017-05-19 13:46] clue commented on #93
Sorry, duplicate of #38

[2017-05-19 13:46] #93 closed

[2017-05-19 17:52] clue commented on #60
We have managed to reproduce and pin point this to a bug in PHP that has recently been fixed in 7.1.4 and 7.0.18. We're planning to provide a work around for this for affected versions via https://github.com/reactphp/socket/issues/105 :+1:

[2017-05-19 22:17] #36 closed

[2017-05-22 13:37] clue commented on #79
Updated now that v0.5.0 is out :shipit:

[2017-05-22 13:43] WyriHaximus commented on #79
So whats the plan for `v0.6.0`?

[2017-06-07 10:19] nick4fake opened #94 "Support for Expect: 100 continue"
Now when we support Transfer-Encoding: chunked it would be great to have at least basic continue support. I'll file example MR soon

[2017-06-07 13:05] clue commented on #94
Yes, please :+1:

Self-quoting from our server-side implementation: https://github.com/reactphp/http/issues/109#issuecomment-278958298

This means that it makes sense to automatically use this for certain requests, but we should probably provide an option to turn this off.

[2017-06-16 09:02] Fneufneu opened #96 "Add docs for request error handling"
Examples miss a really important point: error handly for a request like a simple timeout.
simply like this:
[code]
I spend too much time just for this so i think it should be added in the README or the exemple section.

[2017-06-16 09:40] WyriHaximus commented on #96
@Fneufneu sounds reasonable, could you create a PR adding documentation for this?

[2017-06-16 10:22] #96 closed

[2017-06-16 10:22] WyriHaximus commented on #96
@Fneufneu So @clue already fixed it though: https://github.com/reactphp/http-client/pull/97

[2017-06-17 17:30] mdrost commented on #78
Is it possible that when this components will be merged into react/http then this repository could become something like react version of GuzzleHttp with all Psr7 goodies (better version of clue/php-react-buzz)?

[2017-06-17 17:49] WyriHaximus commented on #78
Define

and

cause not sure what exactly you're looking for :wink:

[2017-06-28 13:22] enrico69 commented on #44
Hi
So is there any way to connect through a proxy?

[2017-06-28 16:56] clue commented on #44
@enrico69 Absolutely! Have you tried any of the above links? Simply pass a custom connector instance to the `Client` and everything should work :+1:

Note that plain HTTP proxies are currently not supported yet, hence why this ticket is still open.

[2017-06-29 06:58] enrico69 commented on #44
@clue
Hi, and thanks for your answer.

However is this solution still up to date?
When I do a composer require, it fails because the current version of ReactPHP is not the good one.
Not compatible I guess, beacause if I try a manual installation, the class ProxyConnector uses classes wich seems to no longer exit, as _React\Socket\ConnectorInterface_ for example. So unable to try your solution :(

[2017-06-29 07:26] enrico69 commented on #44
OK I finally managed to do it.
I completely removed ReactPHP with a _composer remove react/react_
Then I installed the proper libraries:

_composer require clue/http-proxy-react:^1.1
composer require react/http-client_

Thanks for your work

[2017-07-18 01:24] ostap-mykhaylyak opened #102 "Remote content on change"
Hi, i have an remote API and i need to update echo $chunk everytime remote content change.

I use this exmple.
https://github.com/reactphp/http-client/blob/master/examples/02-post-json.php

Anyone can help me? Thanks.

[2017-07-18 07:17] clue commented on #102
I'm not sure I follow exactly what you're trying to achieve, so I'll try my best to answer as I understand what you're trying to do. If anything's unclear, a simple gist (even pseudo code) could help us understand the challenge you're facing :+1:

HTTP is essentially request-response, which means that you have to send a new request every time you want a new (changed) response. You may want to look

[2017-07-18 07:17] #102 closed

[2017-07-18 15:27] ostap-mykhaylyak commented on #102
@clue i'm try to implement infinite loop every 5 seconds, but not work :(

[2017-07-19 14:10] ostap-mykhaylyak opened #103 "Request every 5 seconds"
i'm try to implement request every 5 seconds, but not work :(

I use this exmple.
https://github.com/reactphp/http-client/blob/master/examples/02-post-json.php

Anyone can help me? Thanks.

[2017-07-20 21:21] legionth commented on #103
Hello @ostap-mykhaylyak,

what exactly isn't working? Do you have a small code example what you are trying?

[2017-07-21 16:51] ostap-mykhaylyak commented on #103
`
se React\HttpClient\Client;
use React\HttpClient\Response;

$loop = React\EventLoop\Factory::create();
$client = new Client($loop);

function make_request($client, $data){
    $request = $client->request('POST', '*******************/', array(
    'Content-Type' => 'application/json',
    'Content-Length' => strlen($data)
));

$request->on('response', function (Response $response) {
    // var_du

[2017-07-21 21:10] WyriHaximus commented on #103
[code]

[2017-07-22 06:16] Faner1990 opened #104 "Time Out Question"
http-client How to set time out
I am Chinese, My English is not good Please understand

[2017-07-22 16:56] clue commented on #104
See also issue #28. It depends on what you want to do after the timeout is reached, but this should get you started:

[code]

I hope this helps :+1:

[2017-07-22 16:56] #104 closed

[2017-07-25 19:17] clue commented on #103
I believe this has been answered, so I'm closing this for now. Please come back with more details if this problem persists and we can reopen this :+1:

[2017-07-25 19:17] #103 closed

[2017-08-25 12:16] #11 closed

[2017-09-14 13:23] clue commented on #46
Functionally, this has been ready for years, for example I've been using with via https://github.com/clue/php-buzz-react#unix-domain-sockets for https://github.com/clue/php-docker-react, but I've never been quite happy with this API.

The question remains: How (whether?) should this be exposed to the API of this project. This project is designed around the concept of URLs for sending HTTP requests

[2017-09-15 13:14] clue commented on #46
* libcurl now has a `CURLOPT_UNIX_SOCKET_PATH` option that can be used to explicitly use a Unix domain socket (UDS) path: https://curl.haxx.se/libcurl/c/CURLOPT_UNIX_SOCKET_PATH.html
* Similarly, the curl binary now accepts a `--unix-socket` option: https://superuser.com/questions/834307/can-curl-send-requests-to-sockets
* The `php-http/socket-client` package a `remote_socket` option which allows

[2017-09-17 13:23] #46 closed

[2017-11-15 23:01] evilmake opened #113 "question regarding writing"
Hello,
Just a question, using the function $connection->write($data); is it blocking or sync?
I mean if i have to write 10000 times on a connection and one of these times it takes a while for some reasons, will it delay all the other writings or looping the write function and then $loop->run(); , everything starts as unique thread?

Thanks

[2017-11-18 11:14] clue commented on #113
The `write()` method is guaranteed to be non-blocking.

What is `$connection` here? I suppose this is a `Request` object in the context of this library?
The `Request` implements the `DuplexStreamInterface` which implements the `WritableStreamInterface`. This should already be covered in the README and would link you to this: https://reactphp.org/stream/#write

I hope this helps :+1:

[2017-11-18 11:14] #113 closed

[2017-11-19 19:33] evilmake commented on #113
@clue i sent you an email! Thanks!

[2017-12-01 02:43] DangerLifter opened #114 "Hanging connector"
[code]

it works proper and returns:

[code]
But if you go into \React\Socket\TcpConnector::waitForStreamOnce() and remove $canceller function in new Promise object like below, than it hangs again. Looks like it works in latest version of react a kind of accidentally as socket not stored obvious way, and in fact similar to code in v0.4.6.

[code]

Initial discussion here: https://stackoverflow.com

[2017-12-01 06:16] DangerLifter commented on #114
Sorry, my bad . Wrong library.Moved here: https://github.com/reactphp/socket/issues/139

[2017-12-01 06:16] #114 closed

[2017-12-08 06:00] DangerLifter opened #115 "Unable to validate "1 " as chunk length header"
I got stable exception "Unable to validate "1  " as chunk length header".
Test url "http://www.samaraphone.ru/530300.shtml".
Probably trim() could be solution;

[2017-12-08 07:00] WyriHaximus commented on #115
Just tested it locally and could fetch that URL without issues. Which version are `react/http-client` are you using?

[2017-12-08 08:15] clue commented on #115
Can you show a gist to reproduce the problem you're seeing? This should help us investigate further and maybe provide a solution for this.

Note that "1 " (with trailing whitespace) is invalid as per [RFC 7230](https://tools.ietf.org/html/rfc7230#section-4.1). Do you happen to have an idea what kind of software would produce this and how other HTTP clients (curl, browsers etc.) would handle this?

[2018-01-04 07:07] DangerLifter opened #117 "strtolower() expects parameter 1 to be string, array given"
Got an exception: strtolower() expects parameter 1 to be string, array given in /http-client/src/Response.php:36

Test url with problem: http://mosmama.info/org/user/2275/contact

Issues happens because header "transfer-encoding" contains "Transfer-Encoding: chunked, chunked"
Browser "Firefox" processes this case correctly.

[2018-01-15 14:18] cebe opened #118 "Delay Request Connection"
I am working on a project which will make a lot of connections to external APIs and I need to queue the requests so that I can limit the number of active requests. This is needed to manage the load on the API (also may be useful for APIs that enforce a request limit).

For this reason I want to build the request and attach all event handlers, also write some data, but not yet send it.

Currently `

[2018-01-15 14:54] kelunik commented on #118
How's the first related to the latter?

If you want to buffer some data but not send it, you can just buffer it yourself and delay your call to `writeHead()`.

[2018-01-15 19:23] cebe commented on #118
I'd like to prepare a Request object with all headers, body and events attached without sending it and put that into the queue. The only thing that I currently can not add is the request body as adding it will cause the request to make the connection. So I suggest to add that option too.

[2018-01-15 20:19] cebe commented on #118
More generally I'd like to have more control over when the request is actually sent. The current programming interface hides the details about sending the request, so by creating a new request object and calling methods on it it is not quite clear at which point the request is being sent.

[2018-01-15 20:23] kelunik commented on #118
Oh, I see what you mean. I was under the impression that this package used `$client->request($request)`, but it does not. Nevermind then. It's easiest to store this in your own object then or to use another library until such a new API is implemented.

[2018-01-16 13:58] clue commented on #118
Thank you bringing up this issue! I agree that this is a relevant issue and this is certainly something that I would like to address in a future update.

I think that this approach makes perfect sense and this is the kind of approach that I would prefer for a future implementation.

We're currently looking into implementing PSR-7 interfaces via #41. Once this is in, we will provide a way to pass a

[2018-01-16 13:58] #118 closed

[2018-01-16 14:10] cebe commented on #118
Thanks for the detailed answer! Switching to using PSR-7 will likely solve this, so we can keep this issue closed. Limiting the number of requests highly depends on the application so that is something I am implementing in the app itself. I do not see a good way to create a generic implementation for this that would fit for the library.

[2018-01-16 14:31] clue commented on #117
Thank you for reporting, I can confirm that there's an issue in this library :+1:

The `Response` class should not report an error here and try to handle this situation in a sane way as per RFC 7230: https://tools.ietf.org/html/rfc7230#section-3.3.3

Note that this URL you've provided is indeed "invalid" as it actually uses double encoded chunks, so this doesn't render properly in Firefox or any o

[2018-01-17 16:16] hemantjp opened #120 "Error on "close" event"
i wanted to reject the promise based on timer to cancel the request.
Kindly advise

`PHP Fatal error:  Uncaught TypeError: Argument 1 passed to {closure}() must be an instance of Exception, none given, called in /vendor/evenement/evenement/src/Evenement/EventEmitterTrait.php on line 123 `

[code]

[code]

[2018-01-17 16:29] clue commented on #120
HI @hemantjp, I'm not sure I quite follow what your issue is. In case you want to apply a timeout to a pending request, have you seen https://github.com/reactphp/http-client/issues/104#issuecomment-317196193?

If your problem persists, can you give a short gist to reproduce the problem you're seeing and/or provide a more detailed exception trace?

[2018-01-17 17:13] hemantjp commented on #120
@clue , i have already referred to #104 . The close event of the request is not getting the proper arguments. i have passed it an exception class but it is saying none supplied.
attached is almost the complete stacktrace.

could this be an issue because i am using php7?

Should i provide more details?

[2018-01-17 17:18] clue commented on #120
The `Request` implements `WritableStreamInterface`, so its documentation also applies (https://github.com/reactphp/stream#writablestreaminterface): The `close` event does not receive any arguments! You should probably use the `error` event in this case, which will report an `Exception` as per the above documentation.

I hope this helps :+1:

I believe this has been answered, so I'm closing this fo

[2018-01-17 17:18] #120 closed

[2018-01-17 17:49] hemantjp commented on #120
@clue the `error` event does not get triggered when i forcibly close the request.
Any suggestion as to how to trigger the promise reject.
i need to handle it down stream on a forcible timeout event.

[2018-01-17 18:12] clue commented on #120
Any suggestion as to how to trigger the promise reject.

Yes, explicitly calling `close()` will only emit the `close` event, not the `error` event. This is expected behavior. What promise are you referring to here? This API does not use promises right now (#41).

[2018-01-17 18:34] hemantjp commented on #120
@clue Referring to the deferred object i have created to maintain promise like feel.
[code]

[2018-01-17 18:38] clue commented on #120
Your API seems to suffer from a number of flaws, e.g. it looks like your API is subject to a temporal dependence. If you explicitly call your `close()` method, you could as well access your `Deferred` to explicitly `reject()` it. As an alternative, you may register to the `close` event and just `reject()` with a generic error there.

[2018-01-17 19:49] hemantjp commented on #120
@clue thank you sir. i was mislead thinking that `close` event needed an argument. it should have dawned on me it didnt need one

[2018-02-07 18:38] #115 closed

[2018-02-08 11:12] #117 closed

[2018-02-23 06:39] slince opened #128 "How to get the full response body?"
..

[2018-02-23 07:50] clue commented on #48
Minor progress update: #70 has been implemented, which means that one can now use ReactPHP's normal stream primitives to buffer the whole request body:

[code]

We're still working on a simpler API for #41 :+1:

[2018-02-23 07:51] clue commented on #128
Duplicate of #48

[2018-02-23 07:51] #128 closed

[2018-02-27 06:41] slince commented on #48
@clue  It seems the function is not exists. .

[2018-02-27 06:56] jsor commented on #48
@slince This function is from the [react/promise-stream](https://github.com/reactphp/promise-stream) package.

[code]

[2018-02-27 07:05] slince commented on #48
@jsor  thks

[2018-02-27 08:26] slince opened #129 "[bug]Concurrent with more than 1000 requests."
Hello there

I met two problem.

- Concurrent with more than 1000 requests.

I find that if  I send more than 1000 requests at the same time, some requests will get timeout exception.

- unable handle http message with bad separator:

Some http header and body are concatenated by "\n\n", not "\r\n\r\n". this package cannnot handle theme correctly, but browser can.
ps: I encountered this problem on

[2018-02-27 09:08] clue commented on #129
This is more or less expected behavior as your system and/or network may not be able to cope with this high number of concurrent requests. As an alternative, I would suggest using some kind of queuing mechanism to limit your concurrency, for example https://github.com/clue/php-mq-react.

Can you show us some code and/or URLs to reproduce the problem you're seeing? As per https://tools.ietf.org/htm

[2018-02-27 09:18] slince commented on #129
@clue   I write some debug code int package "react/http-client"

//vendor/react/http-client/src/Request.php#L133
[code]
and result:
[code]

This is a http 1.0 response.

[2018-04-07 17:10] kelunik commented on #129
@slince Could you share which server software generates such responses?

[2018-04-08 01:34] slince commented on #129
@kelunik  The service is very old and you can see that it is using the http 1.0, which is a CGI written in C language

[2018-04-09 07:06] #129 closed

[2018-06-02 07:18] hustneverland opened #133 "client pool"
if i have thousands of requests needed to send,how can i set a http client pool？

[2018-06-02 18:39] clue commented on #133
Right now, this project does limit the number of concurrent connections (see also #129). As discussed in that ticket, you may want to give https://github.com/clue/reactphp-mq or https://github.com/clue/reactphp-flux a try if you want to handle a large number of concurrent requests.

I hope this helps :+1:

I believe this has been answered, so I'm closing this for now. Please come back with more de

[2018-06-02 18:39] #133 closed

[2018-06-20 15:05] laszlovl opened #134 "Memory leak in SecureConnector"
I'm not sure if this issue is http-client's fault, a PHP bug, or a coding error but let's start here and see where it goes.

I use http-client to poll a REST API in a script that's constantly running. I observed that PHP's memory footprint is ever increasing up to the point where the OOM killer kicks in. After adding some `memory_get_usage(true)` debug statements, I noticed that the amount reporte

[2018-06-20 16:00] clue commented on #134
@laszlovl Thank you for reporting!

I've just tried to reproduce this locally, but can not confirm any memory issues.

Here's the client side script I've kept running for a few minutes:

[code]

For the server side, I've used our own server examples from https://github.com/reactphp/http/blob/master/examples/11-hello-world-https.php and https://github.com/reactphp/http/blob/master/examples/01-hello

[2018-06-20 22:21] laszlovl commented on #134
Well this was fun :)

For those who prefer to skip to the conclusion right away: there's a memory leak in PHP (7.0)'s validation of SAN fields in SSL certificates.

I started by testing against the example server you created and indeed, no memory leak. Back to testing with a real server though and the leak was immediately obvious. A few hours later and a few miles down the rabbit hole it clicked:

[2018-06-21 08:38] clue commented on #134
@laszlovl Thank you very much for reporting back and letting us know! I'm happy to hear both that you've been able to track this down and also that this is not a bug here :-)

If you file an upstream issue, make sure to link to it from here so we can follow along :+1:

I believe this has been answered, so I'm closing this for now. Please come back with more details if this problem persists and we

[2018-06-21 08:38] #134 closed

[2018-06-28 22:23] laszlovl commented on #134
FYI, the problem still exists in PHP 7.2.7. I reported an issue here: https://bugs.php.net/bug.php?id=76542

[2018-07-20 19:36] theiosdevguy opened #135 "Integrate Server Sent event api (EventSource) or streaming HTTP api"
I have a .NET based HTTP streaming api that I need to integrate on my larval based PHP server application. I have been using Guzzle for it but it is blocking my entire server because of the infinite while loop I had to place. I was exploring this library but I am encountering issues with it. The streaming api is built in a way that it requires a GET HTTP call which redirects to the streaming URL.

[2018-09-06 07:28] clue opened #136 "Support detecting response body boundaries"
Proper detection of request message bodies requires:
* Content-Length (#92)
* Chunked transfer encoding (#58 )
* Empty bodies for certain requests

See https://tools.ietf.org/html/rfc7230#section-3.3

This means that we should take these into account and only emit `data` events for what is actually part of the given response and then emit an `end` and `close` event.

This is also a prerequisite fo

[2018-09-06 07:28] clue commented on #39
Small progress update: I've started working on this a while back and actually have a working prototype. The implementation is actually quite simple: Once a complete response is received, put the now idle connection into a list of idle connections. If a new outgoing request is to be sent, check if one idle connection to this destination already exists. After a very short grace period (defaults to a

[2018-10-31 09:03] sinchie opened #137 "Can this library be used in php-fpm mode?"

[2018-10-31 09:21] WyriHaximus commented on #137
Yes, in fact I'm using it at work in php-fpm mode a lot for short lived event loops.

[2018-11-06 14:54] clue commented on #137
I believe this has been answered, so I'm closing this for now. Please come back with more details if this problem persists and we can reopen this :+1:

[2018-11-06 14:54] #137 closed

[2018-11-22 07:58] esoodev opened #138 "Trying to POST multipart/form-data"
Hello, I am failing to successfully POST multipart/form-data to a server - your help would be much appreciated!

I am trying to post the following data :
[code]

Here is the gist of the code I wrote :
[code]

The following is your example I referred to :
[https://github.com/reactphp/http-client/blob/master/examples/02-post-json.php](example)

$data is in string format, and is identical to what I d

[2018-11-22 09:22] esoodev commented on #138
I looked into the code more - I think it's worth mentioning that I wrapped the request to return a Promise on "end."

[code]

[2018-12-14 01:39] #138 closed

[2019-01-27 16:51] clue commented on #135
@theiosdevguy Thanks for your patience and welcome to ReactPHP :tada:

The way this API seems to works means you may have to manually follow the redirect by sending a new request to the address given in the `Location` header. There are plans to support this automatically in the future via #20.

Once you send a request to this ServerSentEvents API, you should see individual chunks coming in via the

[2019-01-27 16:51] #135 closed

[2019-07-02 09:56] TaelmanTim opened #140 "Support for certificate authentication when using HttpClientAdapter"
Is it possible to authenticate with certificate and private key when using this client and the HttpClientAdapter? Executing the following curl command is successful.
[code]

[2019-07-02 11:14] clue commented on #140
If you need custom connector settings (DNS resolution, TLS parameters, timeouts, proxy servers etc.), you can explicitly pass a custom instance of the `ConnectorInterface` to the `Client` like this:

[code]

I haven't verified the above options, but you can use this array to define any of PHP's context options: https://www.php.net/manual/en/context.ssl.php

I hope this helps :+1:

[2019-07-02 11:14] #140 closed

[2019-07-11 20:35] CharlotteDunois commented on #38
@clue Since this package links now to the higher level implementation `buzz`, do we still want to implement sending chunked transfer encoding in this component? This would mean moving the logic from `buzz` to this component (which should probably be fairly straight forward).

[2019-07-11 20:45] WyriHaximus commented on #38
@CharlotteDunois yes that's the goal

[2019-07-12 08:00] clue commented on #38
What @WyriHaximus said :-)

The goal is to make https://github.com/clue/reactphp-buzz redundant in the future so that we can deprecate it and only rely on @ReactPHP's HTTP component :muscle:

[2019-07-12 10:26] CharlotteDunois commented on #37
@WyriHaximus What is the status of your prototype?

[2019-07-12 10:59] WyriHaximus commented on #37
@CharlotteDunois about 3 and a half years old now so no clue. Feel free to build something because it has been ages

[2019-07-30 07:38] nenad commented on #79
Any plans on marking the client stable? It's been more than year and a half :slightly_smiling_face:

[2019-07-30 08:37] clue commented on #79
@nenad See above for our plans as to when we plan to release a stable tag :shipit: As much as we'd like to commit to a specific date, we can can only say that we will get to this as soon as time permits.

If you need this for a commercial project and/or feel like sponsoring/supporting this development, feel free to reach out :+1:

[2019-07-30 09:44] WyriHaximus commented on #79
@nenad Also if you want to help out working with out getting `v0.6.0` out the door feel free to reach out as well.

[2019-07-30 16:00] nenad commented on #79
@clue and @WyriHaximus, I was looking at the roadmap, and for `v0.6.0` Request Promises are mentioned. What exactly is missing there, and how could I help?

[2019-08-08 21:00] WyriHaximus commented on #79
@nenad in short we want to bring https://github.com/clue/reactphp-buzz API to this package. So I think a first step would be to change:

[code]

Into:
[code]

[2019-08-16 10:28] bartvanhoutte opened #144 "Stop streaming half-way."
Is there a way to cancel the promise returned by the client? I would like to stop streaming a HTTP response "half-way".

Thanks for your help.

[2019-08-16 12:12] bartvanhoutte commented on #144
Nevermind, I'm assuming calling `end` does the trick.

[2019-08-16 12:12] #144 closed

[2019-09-22 19:25] clue opened #145 "Support HTTP upgrades (WebSocket etc.)"
This library should provide support for HTTP upgrades (WebSocket etc.) using the `Connection: upgrade` and `Upgrade: websocket` headers. Among others, this currently depends on #136 and a dedicated API to expose the resulting HTTP stream as a `DuplexStreamInterface` instead of just a `ReadableStreamInterface`.

[2019-10-10 18:37] erlangp opened #147 "is $loop->run(); blocking?"

[2019-10-10 19:21] WyriHaximus commented on #147
It starts the loop. But to be honest I need more context to answer your question fully

[2019-10-10 23:36] erlangp commented on #147
[code]

[2019-10-11 00:15] WyriHaximus commented on #147
Right so as long as the loop has to do something it will keep running. And since `$loop->run();` is the method that kicks the loop it will block until it run out of things to do.

[2019-10-11 01:20] erlangp commented on #147
owh thanks sir @WyriHaximus

[2019-10-11 01:20] #147 closed

[2020-07-12 21:29] clue opened #152 "Heads up! Development focus on react/http"
If you're currently using this project, you may want to check out the successor https://github.com/reactphp/http instead :tada: We've merged all code and logic from this project into the new `react/http` package. We've migrated public APIs from https://github.com/clue/reactphp-buzz so this project now supports async HTTP requests using a Promise-based API using PSR-7 message abstractions:

[code]

[2020-07-12 21:31] clue commented on #37
I have to close this one as per #152 now that future development will focus on https://github.com/reactphp/http instead.

I've migrated this ticket to reactphp/http#377.

[2020-07-12 21:31] #37 closed

[2020-07-12 21:31] clue commented on #145
I have to close this one as per #152 now that future development will focus on https://github.com/reactphp/http instead.

I've migrated this ticket to reactphp/http#376.

[2020-07-12 21:31] #145 closed

[2020-07-12 21:36] clue commented on #39
I have to close this one as per #152 now that future development will focus on https://github.com/reactphp/http instead.

I've migrated this ticket to reactphp/http#39.

[2020-07-12 21:36] #39 closed

[2020-07-12 21:45] clue commented on #42
I have to close this one as per #152 now that future development will focus on https://github.com/reactphp/http instead.

See also reactphp/http#99.

[2020-07-12 21:45] #42 closed

[2020-07-12 21:46] clue commented on #78
Superseded and closed via https://github.com/reactphp/http/pull/368 / #152  :shipit:

[2020-07-12 21:46] #78 closed

[2020-07-12 21:51] clue commented on #94
Again thanks for bringing this up! I have to close this one as per #152 now that future development will focus on https://github.com/reactphp/http instead.

I've migrated the feature request to reactphp/http#378.

[2020-07-12 21:51] #94 closed

[2020-07-13 15:45] clue commented on #28
I'm closing this as it is already supported by the new HTTP client that has been merged into `react/http` via reactphp/http#368 :shipit: You should upgrade as per #152 :+1:

[2020-07-13 15:45] #28 closed

[2020-07-13 15:46] clue commented on #38
I'm closing this as it is already supported by the new HTTP client that has been merged into `react/http` via reactphp/http#368 :shipit: You should upgrade as per #152 :+1:

[2020-07-13 15:46] #38 closed

[2020-07-13 15:46] clue commented on #40
I'm closing this as it is already supported by the new HTTP client that has been merged into `react/http` via reactphp/http#368 :shipit: You should upgrade as per #152 :+1:

[2020-07-13 15:46] #40 closed

[2020-07-13 15:46] clue commented on #41
I'm closing this as it is already supported by the new HTTP client that has been merged into `react/http` via reactphp/http#368 :shipit: You should upgrade as per #152 :+1:

[2020-07-13 15:46] #41 closed

[2020-07-13 15:46] clue commented on #48
I'm closing this as it is already supported by the new HTTP client that has been merged into `react/http` via reactphp/http#368 :shipit: You should upgrade as per #152 :+1:

[2020-07-13 15:46] #48 closed

[2020-07-13 15:46] clue commented on #92
I'm closing this as it is already supported by the new HTTP client that has been merged into `react/http` via reactphp/http#368 :shipit: You should upgrade as per #152 :+1:

[2020-07-13 15:46] #92 closed

[2020-07-13 15:46] clue commented on #136
I'm closing this as it is already supported by the new HTTP client that has been merged into `react/http` via reactphp/http#368 :shipit: You should upgrade as per #152 :+1:

[2020-07-13 15:46] #136 closed

[2020-07-13 15:47] clue commented on #79
I'm closing this as the new HTTP client that has been merged into `react/http` via reactphp/http#368 :shipit: You should upgrade as per #152 :+1:

[2020-07-13 15:47] #79 closed

[2022-09-06 14:18] omar391 commented on #138
@esoodev How did you solve this?